---
// JS
import Layout from '../layouts/Main.astro';

import Hero from '../components/Hero.tsx';
import HeroContainer from '../components/HeroContainer.tsx';
import CarouselPeople from '../components/CarouselPeople.tsx';

const facultyMembers = [
	{
		title: "Ms. Rossana T. Adao",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "/images/about/ms_adao400x600.png"
	},
	{
		title: "Dr. Shaneth C. Ambat",
		description: "Senior Director for Computer Studies and Multimedia Arts",
		backgroundImage: "/images/about/doc_shane400x600.jpg"
	}
];

const facultyContent = {
	title: "Faculty",
	description: "These are the mentors behind the great minds of the Computer Science department. They are the representatives and leaders of the whole towards innovations. Students and faculty alike, are given opportunities to show their knowledge and skills in building solutions due to their efforts in bringing quality service to the whole department."
};

const committeeMembers = [
	{
		title: "Nielsen Bernardo",
		description: "CS Expo 2022 Head",
		backgroundImage: "/images/about/bernardo400x600.png"
	},
	{
		title: "Hezekiah Rizan",
		description: "CS Expo 2022 Co-Head",
		backgroundImage: "/images/about/rizan400x600.jpg"
	},
	{
		title: "Rom Braveheart P. Leuterio",
		description: "Developers Committee Head.",
		backgroundImage: "/images/about/leuterio400x600.jpg"
	}
];

const committeeContent = {
	title: "Committee",
	description: "These are the students who led the Computer Science student-body to make this event possible. Their leadership and the efforts of the members of the committees has brought an event that would showcase solutions to problems in community using computing technologies, and relevant talks of technology trends and opportunities for students."
};

---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<!-- HTML -->
	<div class="flex flex-col gap-4 pb-4">
		<HeroContainer client:visible>
			<Hero
				title="ABOUT US"
				description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. \
				Suspendisse quis neque vel augue dictum scelerisque ut nec sapien."
				imageSrc="https://placekitten.com/g/700/700"
			/>
		</HeroContainer>
		
		<!-- Faculty Section -->
		<CarouselPeople
			client:visible
			images={facultyMembers}
			title={facultyContent.title}
			description={facultyContent.description}
			bgColor={"bg-csPrimaryDark"}
		/>

		<CarouselPeople
			client:visible
			images={committeeMembers}
			title={committeeContent.title}
			description={committeeContent.description}
			bgColor={"bg-csBGCommittee"}
			reverse={true}
		/>
	</div>
</Layout>