---
// JS
import Layout from '../layouts/Main.astro';

import Hero from '../components/Hero.tsx';
import HeroContainer from '../components/HeroContainer.tsx';
import CarouselPeople from '../components/CarouselPeople.tsx';

const facultyMembers = [
	{
		title: "Faculty 1",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "https://placekitten.com/g/400/600"
	},
	{
		title: "Faculty 2",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "https://placekitten.com/g/400/600"
	},
	{
		title: "Faculty 3",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "https://placekitten.com/g/400/600"
	}
];

const facultyContent = {
	title: "Faculty",
	description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien."
};

const committeeMembers = [
	{
		title: "Committee Head 1",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "https://placekitten.com/g/400/600"
	},
	{
		title: "Committee Head 2",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "https://placekitten.com/g/400/600"
	},
	{
		title: "Committee Head 3",
		description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
		backgroundImage: "https://placekitten.com/g/400/600"
	}
];

const committeeContent = {
	title: "Committee",
	description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis neque vel augue dictum scelerisque ut nec sapien."
};

---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<!-- HTML -->
	<div class="flex flex-col gap-4 pb-4">
		<HeroContainer client:visible>
			<Hero
				title="ABOUT US"
				description="CS EXPO 2022 is an event held by the FEU \
					Institute of Technology's Computer Science students. \
					It shows the students' pursuits in the field of software engineering \
					to bring solutions to issues in the local community."
				imageSrc="/images/hero/home-1.png"
			/>
		</HeroContainer>

		<!-- Faculty Section -->
		<CarouselPeople
			client:visible
			images={facultyMembers}
			title={facultyContent.title}
			description={facultyContent.description}
			bgColor={"bg-csPrimaryDark"}
		/>

		<CarouselPeople
			client:visible
			images={committeeMembers}
			title={committeeContent.title}
			description={committeeContent.description}
			bgColor={"bg-csBGCommittee"}
			reverse={true}
		/>
	</div>
</Layout>