---
// JS
import Layout from '../layouts/Main.astro';

import Hero from '../components/Hero.tsx';
import HeroContainer from '../components/HeroContainer.tsx';
import CarouselFaculty from '../components/About/CarouselFaculty.tsx';

// import content strings
import { facultyMembers, facultyTitle, committeeMembers, committeeTitle } from '../components/Dictionaries/AboutStrings.js';

---

<!-- CSS scoped -->
<style>
.cs-title {
	color: #9147ff;
	font-size: 5rem;
}
</style>

<Layout title="CS EXPO 2022">
	<!-- HTML -->
	<div class="flex flex-col gap-4 pb-4">
		<HeroContainer client:visible>
			<Hero
				title="ABOUT US"
				description="CS EXPO 2022 is an event held by the FEU \
					Institute of Technology's Computer Science students. \
					It shows the students' pursuits in the field of software engineering \
					to bring solutions to issues in the local community."
				imageSrc="/images/hero/home-1.png"
			/>
		</HeroContainer>

		<!-- Faculty Section -->
		<CarouselFaculty
			client:visible
			images={facultyMembers}
			title={facultyTitle}
			bgColor={"bg-csPrimaryDark"}
		/>

		<CarouselFaculty
			client:visible
			images={committeeMembers}
			title={committeeTitle}
			bgColor={"bg-csBGCommittee"}
			reverse={true}
		/>
	</div>
</Layout>